@import "bootstrap-sprockets";
@import "bootstrap";


#search_ic{
	 width: 15px;
    height: 15px;
    padding: 0;
}

.white_box{
	background-color: white;
}
/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
 }
}
